/* Variable */
/* Variable */
/*Animation*/
@-webkit-keyframes marquee {
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@keyframes marquee {
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
/* Base */
*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
  line-height: 1;
}

body {
  font-size: 1rem;
  line-height: 1.4rem;
  letter-spacing: -0.03rem;
  font-weight: 600;
  color: #b3b3b3;
  width: 100vw;
  height: 100vh;
  background-image: url("../img/pankaj-patel--XiEdejuJso-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-backdrop-filter: blur(0.5rem);
  backdrop-filter: blur(0.5rem);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  /* for removing the highlight */
}

img {
  max-width: 100%;
  display: block;
}

ul,
ol {
  list-style: none;
}

.app {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  overflow-y: auto;
  background-color: #121212;
  position: relative;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
}
.app::-webkit-scrollbar {
  width: 0;
}
@media screen and (max-width: 767px) {
  .app {
    max-width: 100%;
  }
}
.app .play-pause .pause {
  display: none;
}
.app .play-pause .play {
  display: block;
}

.app.is-main-player {
  overflow: hidden;
}

.text-semibold,
.text-bold {
  letter-spacing: -0.03rem;
}
.text-semibold-8,
.text-bold-8 {
  font-size: 0.8rem;
  line-height: 1.1rem;
}
.text-semibold-10,
.text-bold-10 {
  font-size: 1rem;
  line-height: 1.4rem;
}
.text-semibold-12,
.text-bold-12 {
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.text-semibold {
  font-weight: 600;
}

.text-bold {
  font-weight: 700;
}
.text-bold-20 {
  font-size: 2rem;
  line-height: 2.7rem;
}
.text-bold-28 {
  font-size: 2.8rem;
  line-height: 3.8rem;
}
.text-bold-48 {
  font-size: 4.8rem;
  line-height: 6.5rem;
  letter-spacing: -0.13rem;
}

/* Base */
.dashboard {
  background: #121212;
  background: -o-linear-gradient(bottom, #121212 40%, #db3b3b 100%);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(40%, #121212), to(#db3b3b));
  background: linear-gradient(0deg, #121212 40%, #db3b3b 100%);
  padding: 0 1.6rem;
}
.dashboard .header {
  padding: 1.5rem 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.dashboard .header-title {
  color: #fff;
}
.dashboard-img {
  width: 20rem;
  height: 20rem;
  -o-object-fit: cover;
  object-fit: cover;
  margin: 1.5rem auto;
  -webkit-box-shadow: 0 2rem 4rem rgba(46, 44, 44, 0.1);
  box-shadow: 0 2rem 4rem rgba(46, 44, 44, 0.1);
  border-radius: 0.2rem;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.dashboard-infor {
  display: block;
}
.dashboard-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0.8rem 0;
}
.dashboard-logo img {
  margin-right: 0.8rem;
}
.dashboard-logo span {
  color: #fff;
}
.dashboard-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.dashboard-desc span:nth-child(2) {
  width: 2px;
  height: 2px;
  background-color: #b3b3b3;
  border-radius: 50%;
  margin: 0 2px;
}
.dashboard-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.dashboard-btns .like {
  cursor: pointer;
  margin-right: 2.4rem;
}
.dashboard-btns .like:hover svg {
  fill: #57b65f;
}
.dashboard-btns .like:hover path {
  stroke: #57b65f;
}
.dashboard-btns .more {
  cursor: pointer;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.dashboard-btns .play-pause {
  cursor: pointer;
  margin-left: auto;
  width: 5.6rem;
  height: 5.6em;
  background-color: #57b65f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
}

.content {
  padding: 1.6rem;
  padding-bottom: 6.6rem;
}
.content .audio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.content .audio-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}
.content .audio-item:not(:last-child) {
  margin-bottom: 1.6rem;
}
.content .audio-ordinal {
  min-width: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.content .audio-img {
  width: 4.8rem;
  height: 4.8rem;
  -o-object-fit: cover;
  object-fit: cover;
  margin: 0 0.8rem 0 1.6rem;
}
.content .audio-infor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.content .audio-infor .name {
  color: #fff;
  margin-bottom: 0.4rem;
  display: block;
}
.content .more {
  margin-left: auto;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.bottom-player {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 5rem;
  background-color: #2c2c2c;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .bottom-player {
    width: 100%;
  }
}
.bottom-player .audio-img {
  width: 5rem;
  height: 5rem;
  -o-object-fit: cover;
  object-fit: cover;
  margin-right: 1.6rem;
}
.bottom-player .audio-infor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.bottom-player .audio-infor .name {
  color: #fff;
  margin-bottom: 0.4rem;
  display: block;
}
.bottom-player .like {
  cursor: pointer;
  margin-left: auto;
}
.bottom-player .like:hover svg {
  fill: #57b65f;
}
.bottom-player .like:hover path {
  stroke: #57b65f;
}
.bottom-player .play-pause {
  cursor: pointer;
  margin: 0 1.6rem;
}

.main-player {
  padding: 0 1.6rem 1.6rem 1.6rem;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-backdrop-filter: blur(5rem);
  backdrop-filter: blur(5rem);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
@media screen and (max-width: 767px) {
  .main-player {
    max-width: 100%;
  }
}
.main-player .header {
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.main-player .header span,
.main-player .header h3 {
  color: #fff;
  display: block;
  text-align: center;
}
.main-player .header span {
  margin-bottom: 0.2rem;
}
.main-player .header .hidden,
.main-player .header .more {
  cursor: pointer;
}
.main-player .player-img {
  width: 34rem;
  height: 34rem;
  margin: 5rem auto;
  border-radius: 0.2rem;
  -o-object-fit: cover;
  object-fit: cover;
}
@media screen and (max-width: 459px) {
  .main-player .player-img {
    width: 28rem;
    height: 28rem;
    margin: 2rem auto;
  }
}
.main-player .player-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.main-player .title-player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}
.main-player .title-player .song-infor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.main-player .title-player .song-infor .name {
  color: #fff;
  margin-bottom: 0.8rem;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* number of lines to show */
  -webkit-box-orient: vertical;
  max-width: 25rem;
}
.main-player .title-player .like {
  cursor: pointer;
}
.main-player .title-player .like svg {
  width: 3.2rem;
  height: 3.2rem;
}
.main-player .title-player .like:hover svg {
  fill: #57b65f;
}
.main-player .title-player .like:hover path {
  stroke: #57b65f;
}
.main-player .progress-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 1.6rem;
}
.main-player .progress-container .progress {
  cursor: pointer;
  width: 100%;
  height: 0.5rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0.8rem;
  position: relative;
  margin-bottom: 1rem;
}
.main-player .progress-container .line {
  position: absolute;
  width: 0;
  height: 100%;
  border-radius: 0.8rem;
  background-color: #fff;
}
.main-player .progress-container .circle {
  width: 1.3rem;
  height: 1.3rem;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
}
.main-player .progress-container .song-duration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.main-player .progress-container .song-duration span {
  font-weight: 700;
}
.main-player .control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 1.6rem;
}
.main-player .control > * {
  cursor: pointer;
}
.main-player .control .play-pause {
  background-color: #fff;
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.main-player .control .play-pause svg {
  width: 3.657rem;
  height: 3.657rem;
}
.main-player .control .play-pause .pause {
  display: none;
}
.main-player .control .play-pause .play {
  display: block;
}
.main-player .control .random.active svg path {
  stroke: #57b65f;
}
.main-player .control .repeat.active svg path {
  stroke: #57b65f;
}

.app.is-main-player + .main-player {
  visibility: visible;
  opacity: 1;
  top: 0;
}

.app.is-playing + .main-player .pause,
.app.is-playing .play-pause .pause {
  display: block;
}
.app.is-playing + .main-player .play,
.app.is-playing .play-pause .play {
  display: none;
}

/*# sourceMappingURL=main.css.map */
